.market-card-select .card-line-item{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E6E6E6;
  cursor: pointer;
}

.market-card-select .card-line-item:hover{
  background-color: #FBFBFB;
}

.market-card-select .continue-checkout{
  width: 100%;
}

.market-card-select .card-select-well{
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
}

.market-card-select .card-select-header{
  border-bottom: 1px solid gray;
  padding-bottom: 12px;
}

.market-card-select .card-select-footer{
  margin-top: 10px;
}

.market-card-select .add-card-form{
  margin-top: 30px;
}

.market-card-select .add-card-btn{
  width: 100%;
}

.market-card-select .add-card-btn-text::before{
  content: "\f067";
	font-family: FontAwesome;
  margin-right: 5px;
}

.market-card-select .card-line-item.active .card-selected-indicator::before{
  content: "\f00c";
	font-family: FontAwesome;
  height: 100%;
  width: 20px;
  border-radius: 5px;
  color: white;
  background-color: gray;
  padding: 3px;
}

.market-card-select .card-line-item.active{
  background-color: #f6f6f6
}
